<section class="login py-20  mt-2 flex justify-center ">
    <form action="/login" method="POST">
      <% if(messages.error){%>
        <span class="text-red-600"><%= messages.error%></span>
        <%}%>
      <h3 class="pb-3 login-text">Login</h3>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="text-white float-left mt-2 font-bold px-6 py-2 rounded-full btn-Login">Login</button>
        <a href="/register"class="font-bold text-sm  float-right">Don't have an acount ?</a>
        </form>
</section>

