<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaBuzz</title>
    <link rel = "icon" href ="img/favicon.ico" type = "image/x-icon"> 
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <section>
    <nav class="container navbar navbar-expand-lg navbar-light ">
        <h1 class="navbar-brand">PizzaBuzz</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Offers">Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#Login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " href="#"><img src="/img/cart.ico" alt="cart"></a>
            </li>
          </ul>
        </div>
      </nav>
    </section>

    <!-- Section heroo -->
    <section class="top py-16">
      <div class="container justify-between mx-auto ">
        <div class="row">
          <div class="col-md-6 py-8  order-md-0 order-1 flex justify-content-center  flex-column">
            <h4 class="text-lg font-bold"><em> Are You Hungry ?</em></h4>
            <h1 class=" font-bold">Don't Wait !</h1>
          </div>       
            <div class=" col-md-6 order-md-1 order-0 items-center">
              <img id="pizza-pic" src="img/hero-pizza.png" alt="About us image" class="img-fluid ml-3" />     
          </div>
        </div>
      </div>
    </section>

    <!-- section Menu -->

    <section class="Menu container mx-auto py-8 mt-5 ">
      <h1 class="text-xl font-bold">All Pizza</h1>
      <div class="card-deck mt-4 gap-x-12 gap-y-16">
        <div class="card ">
          <div class="IMG-DIV" >
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="small pizza">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margherita</h2>
            <span class="py-1 px-4 rounded-full text-xs bg-light">SMALL</span>
          </div>
          <div class="flex items-center justify-around mt-6">
            <span class="font-bold text-lg mr-1">Rs.450</span>
            <button class=" add-btn py-1 px-6 rounded-full flex items-center font-bold">
            <span>+</span>
            <span class="ml-1">Add</span>
            </button>
          </div>
        </div> 
          </div>
          <div class="card ">
            <div class="IMG-DIV" >
              <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="small pizza">
            <div class="text-center">
              <h2 class="mb-4 text-lg">Margherita</h2>
              <span class="py-1 px-4 rounded-full text-xs bg-light">SMALL</span>
            </div>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg mr-1">Rs.450</span>
              <button class=" add-btn py-1 px-6 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-2">Add</span>
              </button>
            </div>
          </div> 
            </div>
            <div class="card ">
              <div class="IMG-DIV" >
                <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="small pizza">
              <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="py-1 px-4 rounded-full text-xs bg-light">SMALL</span>
              </div>
              <div class="flex items-center justify-around mt-6">
                <span class="font-bold text-lg mr-1">Rs.450</span>
                <button class=" add-btn py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-2">Add</span>
                </button>
              </div>
            </div> 
              </div>
              <div class="card ">
                <div class="IMG-DIV" >
                  <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="small pizza">
                <div class="text-center">
                  <h2 class="mb-4 text-lg">Margherita</h2>
                  <span class="py-1 px-4 rounded-full text-xs bg-light">SMALL</span>
                </div>
                <div class="flex items-center justify-around mt-6">
                  <span class="font-bold text-lg mr-1">Rs.450</span>
                  <button class=" add-btn py-1 px-6 rounded-full flex items-center font-bold">
                  <span>+</span>
                  <span class="ml-2">Add</span>
                  </button>
                </div>
              </div> 
                </div>
                        
      </div>
      <div class="card-deck  mt-12 gap-x-12 gap-y-16">
        <div class="card ">
          <div class="IMG-DIV" >
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="small pizza">
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margherita</h2>
            <span class="py-1 px-4 rounded-full text-xs bg-light">SMALL</span>
          </div>
          <div class="flex items-center justify-around mt-6">
            <span class="font-bold text-lg mr-1">Rs.450</span>
            <button class=" add-btn py-1 px-6 rounded-full flex items-center font-bold">
            <span>+</span>
            <span class="ml-2">Add</span>
            </button>
          </div>
        </div> 
          </div>
          <div class="card ">
            <div class="IMG-DIV" >
              <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="small pizza">
            <div class="text-center">
              <h2 class="mb-4 text-lg">Margherita</h2>
              <span class="py-1 px-4 rounded-full text-xs bg-light">SMALL</span>
            </div>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg mr-1">Rs.450</span>
              <button class=" add-btn py-1 px-6 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-2">Add</span>
              </button>
            </div>
          </div> 
            </div>
            <div class="card ">
              <div class="IMG-DIV" >
                <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="small pizza">
              <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="py-1 px-4 rounded-full text-xs bg-light">SMALL</span>
              </div>
              <div class="flex items-center justify-around mt-6">
                <span class="font-bold text-lg mr-1">Rs.450</span>
                <button class=" add-btn py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-2">Add</span>
                </button>
              </div>
            </div> 
              </div>
              <div class="card ">
                <div class="IMG-DIV" >
                  <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="small pizza">
                <div class="text-center">
                  <h2 class="mb-4 text-lg">Margherita</h2>
                  <span class="py-1 px-4 rounded-full text-xs bg-light">SMALL</span>
                </div>
                <div class="flex items-center justify-around mt-6">
                  <span class="font-bold text-lg mr-1">Rs.450</span>
                  <button class=" add-btn py-1 px-6 rounded-full flex items-center font-bold">
                  <span>+</span>
                  <span class="ml-2">Add</span>
                  </button>
                </div>
              </div> 
                </div>              
      </div>
    
    </section>
    <script src="/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>