@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

body {
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
  
}
nav {
  font-family: "Rubik", sans-serif;
}
nav .navbar-brand {
  color: $primary !important;
  font-size: 32px;
  letter-spacing: 1px;
  text-shadow: 3px 2px 5px $primary;
}

nav img {
  height: 46px;
  padding: 10px;
  width: 56px;
  border-radius: 30%;
  -webkit-box-shadow: 5px 5px 15px 0px $primary;
  box-shadow: 5px 5px 15px 0px $primary;
  background-color: $primary;
  &:hover {
    background: $primary-hover;
    
  }
}
nav  #CartCounter{
  position: absolute;
  padding-left: 5px;
}
nav li a {
  font-size: 20px;
  align-items: center;
}

.nav-item .nav-link {
  &:hover {
    transition: $Smooth;
    color: $primary !important;
    transform: scale(1.05);
  }
}

// section top 
section.top {
  background: $secondary;
  margin-top: 5px;
}
section.top h1{
    font-size: 45px;
}
section.top .btn-order{
  background:$primary;
  width: 140px;
  -webkit-box-shadow: 5px 5px 15px 0px $primary;
  box-shadow: 5px 5px 15px 0px $primary;
  transition: $Smooth;
  &:hover{
    background: $primary-hover;
    transform: scale(1.05);
  }
  &:focus{
    outline:none;
  }
}

section.Menu .card{
border: none;
}

.Menu .add-cart{
  border: 2px solid $primary;
  color: $primary;
  transition: $Smooth;
  &:hover{
    background-color: $primary;
    outline: none;
    color: white;
  }
  &:focus{
    outline:none;
  }
}
section.map{
  font-family: "roboto", sans-serif;
}


// footer section
.footer {
  
  padding: 20px;
  opacity: 0.9;
  background: rgb(206, 197, 197);
}
.footer .copyright{
color: $dark;
margin: auto;
}
.footer #bottom-link a{
color: $primary-hover;
}
section.E-cart{
  background: $secondary;
}
section.E-cart .btn-back{
  background:$primary;
  width: 140px;
  -webkit-box-shadow: 5px 5px 15px 0px $primary;
  box-shadow: 5px 5px 15px 0px $primary;
  transition: $Smooth;
  &:hover{
    background: $primary-hover;
    transform: scale(1.05);
    
  }
}
section.E-cart .btn-back a{
  text-decoration: none;
}
section.Cart{
  background: $secondary;
  padding-top: 70px;
  text-align: center;
  .amount{
    color: $primary;
  }
  .thead{
    background: $primary;
  }
  .prize{
    padding-top: 20px;
  }
  .btn-order{
    background:$primary;
    -webkit-box-shadow: 5px 5px 15px 0px $primary;
    box-shadow: 5px 5px 15px 0px $primary;
    transition: $Smooth;
    &:hover{
      background: $primary-hover;
      transform: scale(1.05);
  }
}
.btn-login{
  background:$primary;
  -webkit-box-shadow: 5px 5px 15px 0px $primary;
  box-shadow: 5px 5px 15px 0px $primary;
  transition: $Smooth;
  &:hover{
    background: $primary-hover;
    transform: scale(1.05);
    text-decoration: none;
}
}
}

section.login{
   background:$secondary;
   min-height: calc(100vh-90px);
  form{
    padding: 45px ;
    border-radius: 20px;
    width: 370px;
    -webkit-box-shadow: 1px 4px 22px -1px $primary; 
    box-shadow: 1px 4px 22px -1px $primary;
    transition: $Smooth;   
    color: $primary;
    &:hover{
      transform: scale(1.01);
    }
    a{
      text-decoration: none;
      color: $primary;
      margin-top: 20px;
    }
    .btn-Login{
      background:$primary;
      -webkit-box-shadow: 5px 5px 15px 0px $primary;
      box-shadow: 5px 5px 15px 0px $primary;
      transition: $Smooth;
      
      padding-top: 9px;
      padding-bottom: 9px;
      &:hover{
        background: $primary-hover;
        transform: scale(1.05);
    }
    }
  }
 
}

#register-form{
  width: 500px;
 
}
.noty_theme__mint{
  border-radius: 50px !important;
  padding-left: 10px !important;
}

a.link {
  color:$primary;
  text-decoration: none;
}
 #order-id {
   margin-bottom: 10px;
   background-color:$secondary;
   
 }
section.status{
  background-color: $secondary;
  min-height: calc(100vh - 86px);
  .statusBox{
    padding: 60px 0 0;
  }
  .statusBox ul{
    margin-left:85px ;
  }
  .statusBox ul li span{
    position: relative;
    padding-left: 20px;
  }
  .statusBox ul li span:after{
    content:"";
    position: absolute;
    left: -10px;
    top: 50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-5px);
    box-shadow :0 0 1px 10px $secondary;
  }
  //Icon 
  .statusBox ul li span:before{
    
    font-family:"Line Awesome Free" ;
    font-size:46px;
    font-weight:600 ;
    position: absolute;
    left:-90px ;
    top: 50%;
    transform: translateY(-50%);
    color:inherit ;
  }
  .statusBox ul li:nth-child(1) span:before{
    content: "\f46c"; 
   }
  .statusBox ul li:nth-child(2) span:before{
    content: "\f560"; 
   }
  .statusBox ul li:nth-child(3) span:before{
    content: "\f818"; 
   }
  .statusBox ul li:nth-child(4) span:before{
    content: "\f0d1"; 
   }
  .statusBox ul li:nth-child(5) span:before{
    content: "\f582"; 
   }

   .statusBox ul li{
     position: relative;
   }
   .statusBox ul li:before{
content: "";
top: 0;
position: absolute;
left: -6px;
width: 2px;
height: 100%;
margin-top: 10px;
background: $dark;
   }
   .statusBox ul li:nth-child(5) span:after{
     box-shadow:0 20px 1px 20px $secondary ;
   }
   //line color 
   .statusBox ul li.step-completed:before{
     background: $gray;
   }
   //dot color 
   .statusBox ul li.step-completed  span:after{
    background: $gray;
   }

   //text 
   .statusBox ul li.step-completed  span{
    color: $gray;

   }
//current status
.statusBox ul li.current span{
  color:$primary;
}
.statusBox ul li.current span:after{
  background: $primary;
 }
 .statusBox ul li small{
   float:right;
   font-size:14px ;
   margin-top: 5px;
 }
}
